<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TV SHOWS</title>
    
    <link rel="stylesheet" href="{% static 'RS_tvshows_app/css/style.css' %}"> 

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1{
            color:palevioletred;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1>All Shows</h1>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Network</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                </thead>
                {% for show in all_shows%}
                <tr>
                    
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.release_date}}</td>
                    <td>
                        <a href="/shows/{{show.id}}">Show |</a>
                        <a href="/shows/{{show.id}}/edit">Edit |</a>
                        <a href="/shows/{{show.id}}/destroy">Delete</a>
                    </td>
                    
                </tr>
                {% endfor%}
                
            </table>
            <a href="/shows/new" class=" btn btn-lg btn-secondary">Add a New Show</a>
        </div>
    </div>
</body>

</html>