<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TV SHOWS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #main {

            width: 750px;
        }

        h1{
            color:cornflowerblue;
            width: 550px;
            display:inline-block;
     
        }
       
    </style>
</head>

<body>
    <div id="main" class="container">
        <div class="header">
            <h1 class="inline">Edit Show {{show.id}}</h1>
            <a href="/shows" class="font-weight-bold">Home Page</a>
        </div>
        <div>
          <form action="/shows/{{show.id}}/update" method="POST" class="form-group">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" name="title"  class="form-control mb-3 " placeholder="Enter Title of the Show">
            <div class="form-group row">
                <label for="network" class="col-form-label col-sm-2 ml-1" >Network:</label>
                <input type="text" name="network" class="form-control col-sm-3 mr-4"placeholder="Network's name">
                
                <label class="col-form-label col ml-1" for="release_date">Release Date:</label>
                <input type="date" name="release_date"  class="form-control col-sm-3 mr-3"placeholder="mm/dd/yyyy">
            </div>
            <label for="description">Description:</label>
            <textarea name="description" id="description" class="form-control"></textarea> <br>
            
            <input type="submit" value="Update" class="create btn btn-primary btn-lrg">

        </form>

    <a href="/shows/{{show.id}}" class="btn btn-secondary btn-sm"> Go to show info</a>
        </div>
        

</body>

</html>